<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Signup Failed</title>
<style>
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    display:grid ;
    font-family:monospace;
    background-image: url("https://marvelstory.fr/wp-content/uploads/2022/10/1231478-930x620.png");
    background-repeat: none;
    background-size: cover;
    float:left;
    margin-left: 1rem;
  }
  .error-message {
    color: #ff4d4d;
    font-size: 3rem;
    text-align: center;

  }
  button{
    height: 4rem;
    position:relative;
    width:8rem;
    border:2px solid red;
    border-radius: 80px;
    color:black;
    font-size:larger;
    font-weight: 700;
    margin-top: 2rem;
  }
  button:hover{
    color:white;
    background-color: red;
  }
</style>
</head>
<body>
    <form action="/sigfailed">
    <div class="error-message">Signup Failed. <br>EmailID or Username already Exists</div>
    <a href="signup"><button>SIGNUP</button></a>
</form>
</body>
</html>
